name: Build and publish Docker image

on:
  push:
    branches: [ main ]
    tags: ['*']
  pull_request: {}
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.set-tags.outputs.image_tag }}
      short_sha: ${{ steps.set-tags.outputs.short_sha }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set tags
        id: set-tags
        run: |
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            # Use the tag name when this is a tag push
            echo "image_tag=${GITHUB_REF#refs/tags/}" >> "$GITHUB_OUTPUT"
          else
            # Otherwise use short sha
            echo "image_tag=$(git rev-parse --short=7 HEAD)" >> "$GITHUB_OUTPUT"
          fi
          # Set short SHA for both cases
          echo "short_sha=$(git rev-parse --short=7 HEAD)" >> "$GITHUB_OUTPUT"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: false
          tags: |
            jenkins:${{ steps.set-tags.outputs.image_tag }}

  publish:
    needs: build
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    runs-on: ubuntu-latest
    steps:
      - name: Check required secrets
        run: |
          if [ -z "${{ secrets.DOCKER_USERNAME }}" ] || [ -z "${{ secrets.DOCKER_PAT }}" ]; then
            echo "Missing required secrets: DOCKER_USERNAME and/or DOCKER_PAT"
            exit 1
          fi

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PAT }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/jenkins:buildcache
          cache-to: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/jenkins:buildcache,mode=max
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/jenkins:${{ needs.build.outputs.image_tag }}
            ${{ secrets.DOCKER_USERNAME }}/jenkins:${{ needs.build.outputs.short_sha }}
            ${{ secrets.DOCKER_USERNAME }}/jenkins:latest
